body {
  font-family: Helvetica;
  background-color: #00FFCC;
}
h1 {
  color: #FEE975;
  background-color: #0080FF;
  padding: .5em;
}

.container {
  display: flex;
  justify-content: space-around;
}

.students,
.companies {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: flex-start;
    justify-content: space-around;
    margin: .5em;
}

.students h1,
.companies h1 {
    width: 100%;
}

p {
	background-color: #E4A4EE;
  padding: .5em .5em;
  border-radius: 10px;
}
.match-header {
  text-align: center;
}

.matches {
  display: flex;
}

.match {
  margin-left: 2em;
}

.match-button {
  background-color: #17D3FF;
  padding: 15px 32px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #0080FF;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.match-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}